{% extends layout %}

{% block content %}
<div id="slideshow" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for photo in gallery %}
      <div class="item{% if loop.first == true %} active{% endif %}">
        <img src="/photos/female-landscapes/{{ photo }}" alt="Akt - Female Landscapes - Pracownia Portretu - Robert Raszczynski - Akt nr. {{ loop.index }}">
      </div>
    {% endfor %}
  </div>

  <a class="left carousel-control" href="#slideshow" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#slideshow" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
{% endblock %}
