{% extends layout %}

{% block content %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow fadeInUp">
                    <h2 class="section-heading">Who I am</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <img src="img/robert.png" alt="Robert Raszczyński">
                </div>
                <div class="col-lg-8 col-md-6">
                    <p class="text-faded whoIam">I work as Technical Team Leader for Inviqa Ltd. based in London. I'm a Professional Scrum Master I and certified Business Trainer, passionate about Agile Project Management methodologies (Scrum, Extreme Programming and Kanban), particularly managing and working with distributed teams. </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow fadeInUp">
                    <h2 class="section-heading">A few fun facts</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-coffee wow fadeInUp text-primary"></i>
                        <p class="text-muted">I'm a big coffee lover, my day doesn’t start without it.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-spoon wow fadeInUp text-primary" data-wow-delay=".1s"></i>
                        <p class="text-muted">My favorite food is bacon and I don't mind when you place it on meat under some cheese in a burger.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bicycle wow fadeInUp text-primary" data-wow-delay=".2s"></i>
                        <p class="text-muted">Most mornings I swim, bike or run. On a race day people call it triathlon for whatever reason. I, on the other hand, call it <em>sufferfest</em>.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-camera-retro wow fadeInUp text-primary" data-wow-delay=".3s"></i>
                        <p class="text-muted">Every so often I unleash my creativity and take some random pictures.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="">
        <div class="container text-center wow fadeInUp">
            <h2>Snapshots of my life</h2>
            <hr class="primary">
        </div>
    </aside>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/snapshot_1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name text-faded">
                                    My Son Jacob
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/snapshot_2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name text-faded">
                                    Getting ready for <em><strong>Sufferfest</strong></em>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/snapshot_4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name text-faded">
                                    <strong>Bacon</strong> Om nom nom
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/snapshot_3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name text-faded">
                                    Morning Routine
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/snapshot_5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name text-faded">
                                    Winter Run
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/snapshot_6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name text-faded">
                                    Favorite photo books
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Send a friendly Hello! Give me a call or send an email
                        and I will get back to you as soon as possible.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow fadeInUp"></i>
                    <p>(+48) 722 312 801</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow fadeInUp" data-wow-delay=".1s"></i>
                    <p><a href="mailto:&#114;&#97;&#115;&#122;&#99;&#122;&#121;&#110;&#115;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#114;&#97;&#115;&#122;&#99;&#122;&#121;&#110;&#115;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
