{% extends layout %}

{% block content %}

<div class="contact">
    <p class="lead"><strong>Robert Raszczynski</strong></p>
    <p>
      <a href="https://www.facebook.com/pracowniaportretu">facebook</a>
      <br>
      <a href="https://twitter.com/raszczynski">twitter</a>
    </p>
    <p>e-mail: <a title="" href="mailto:&#114;&#97;&#115;&#122;&#99;&#122;&#121;&#110;&#115;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#114;&#97;&#115;&#122;&#99;&#122;&#121;&#110;&#115;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
    <p>tel: 722 312 801</p>
    <address>
      ul. Wschodnia 25<br>
      97-400 Bełchatów<br>
    </address>
</div>
{% endblock %}
