{% extends layout %}

{% block content %}
<div class="row">
  <div class="span1">&nbsp;</div>
  <div class="span10">

    <div class="left">

        <img src="/img/robert-raszczynski.jpg" />
    </div>

    <div class="right">
        <p>Robert Raszczynski</p>
    </div>
</a>
  </div>
  <div class="span1">&nbsp;</div>
</div>
{% endblock %}
