{% extends layout %}

{% block content %}
<div class="row">
  <div class="span1">&nbsp;</div>
  <div class="span10">

<a href="/female-landscapes">
    <div class="index-gallery left">
        <h2>female landscapes</h2>
        <p>It's an exploration of the female form within the intricate dance between light and shadow. A journey into poetic landscapes full of the sensuous lines, graceful curves and the beautiful angles of a woman's body.</p>
    </div>

    <div class="index-gallery right">
        <img src="/img/female-landscapes.jpg" />
    </div>
</a>
  </div>
  <div class="span1">&nbsp;</div>
</div>

{% endblock %}
