{% extends layout %}

{% block content %}
<p class="lead main-colour"><strong>Robert Raszczynski</strong></p>
<p>Tel: 722 312 801</p>
<p>E-mail: <a title="" href="mailto:&#114;&#97;&#115;&#122;&#99;&#122;&#121;&#110;&#115;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#114;&#97;&#115;&#122;&#99;&#122;&#121;&#110;&#115;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<address>
  ul. Wschodnia 25<br>
  97-400 Bełchatów<br>
</address>
{% endblock %}
