{% extends layout %}

{% block content %}
  <div class="span1">&nbsp;</div>
  <div class="span11 slideshow-container">

      <header>
        <h2>portraits</h2>
        <p></p>
      </header>

      <nav class="slideshow-nav">
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

      </nav>
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item"><img src="/photos/portraits/01.jpg" alt="" /></div>
                <div class="item"><img src="/photos/portraits/02.jpg" alt="" /></div>
                <div class="item"><img src="/photos/portraits/03.jpg" alt="" /></div>
                <div class="item"><img src="/photos/portraits/04.jpg" alt="" /></div>
                <div class="item"><img src="/photos/portraits/05.jpg" alt="" /></div>
                <div class="item"><img src="/photos/portraits/06.jpg" alt="" /></div>
                <div class="item"><img src="/photos/portraits/07.jpg" alt="" /></div>
                <div class="item"><img src="/photos/portraits/08.jpg" alt="" /></div>
                <div class="item"><img src="/photos/portraits/09.jpg" alt="" /></div>
                <div class="active item"><img src="/photos/portraits/10.jpg" alt="" /></div>
            </div>
        </div>
  </div>
</div>

{% endblock %}
