body {
    font-family: Palatino, 'Times New Roman', Times, serif;
    padding: 0 15px;
    text-align: center;
}

a {
    color: #555;
}

a:hover {
    color: #555;
}

header {
    margin-bottom: 2em;
}

header h1, header h2 {
    margin: 0;
    margin-top: 0.5em;
    text-transform: uppercase;
}

header h1 {
    font-size: 1.4em;
    color: #da3800;
    letter-spacing: 1px;
}

header h2 {
    font-size: 0.9em;
    color: #444 ;
    letter-spacing: 2px;
}

.content {
    margin-top: 1em;
}

nav {
    border-top: 1px solid #f6f6f6;
}

nav a {
    font-size: 0.9em;
    margin: 0 1em;
    display: inline-block;
    text-transform: uppercase;
    padding: 0;
}

nav a:hover {
    text-decoration: underline;
}

.carousel-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.carousel-control, .carousel-control:hover, .carousel-control:focus {
    text-shadow: none;
    color: #000;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: -1em;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: -1em;
}

.item {
    text-align: center;
}

.item img {
    margin: 0 auto;
}

.homepage-img {
    margin: 0 auto;
}
